[Unit]
Description=Syncthing File Syncer
Documentation=info:syncthing man:syncthing(1) https://docs.syncthing.net/users/index.html

[Service]
Type=forking
RemainAfterExit=true
ExecStart=syncthing
Restart=on-failure

[Install]
WantedBy=default.target
