.DS_Store
.config/fish/conf.d
.config/fish/completions
.config/fish/functions
.config/fish/fish_variables
.config/karabiner/automatic_backups/
.config/nvim/plugin
*.org_archive
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/org-roam.db
.config/gh
.config/lazygit
.config/pulse
.config/systemd/user
.config/newsboat/urls
.git/
